{% extends "base.html" %}
{% block content %}


<div class="container">
  <h1>What about Bob?</h1>
  <br>

  <div class="row-fluid">
    <div class="span8">

      <img src="{{servlet-context}}/img/sm_manyBob.jpg">

      <br>
      <br>
      I live and work in Massachusetts.<br>
      I have a beautiful wife and two young children. <br>
      I develop software primarily in the Clojure/Java/Groovy/Rails/Ruby/Android/SQL programming languages.<br>
      I've been a developer for over 30 years.
      <br>
      <br>
      <a href="mailto:bob@jadn.com">bob@jadn.com</a>
    </div>

  </div>

</div>

  {% endblock %}
