<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Bob's Blog</title>
    <!-- scripts and styles -->
    <link rel="stylesheet" href="{{servlet-context}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{servlet-context}}/css/bootstrap-theme.min.css">
    {% style "/css/screen.css" %}

    <script src="{{servlet-context}}/js/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="{{servlet-context}}/js/bootstrap.min.js"></script>
</head>
<body>

<!-- navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{servlet-context}}/">Bob's Blog</a>
        </div>
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav">
                <li {% ifequal page "home.html" %} class="active"{%endifequal%}>
                <a href="{{servlet-context}}/">Home</a>
                </li>
                <li><a href="http://jadn.com/babypea">Kids</a></li>
                <li><a href="https://www.linkedin.com/in/robertherrmann/">Resume</a></li>
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            Projects
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">

                            <li><a href="https://github.com/bherrmann7/explainer"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                                Explainer - clojure application for generating documentation
                            </a></li>

                            <li><a href="https://github.com/bherrmann7/dippybird"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                Dippybird - Clojure webapp for blogging
                            </a></li>

                            <li><a href="https://github.com/bherrmann7/judge"><span class="glyphicon glyphicon-dashboard"  aria-hidden="true"></span>
                                   Judge - Clojure webapp for judging a science fair
                            </a></li>

                            <li><a href="https://github.com/bherrmann7/sciencefair"><span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                                  Sciencefair - Clojure webapp - Groton Dunstable Elementary School science fair web site
                            </a></li>

                            <li><a href="https://github.com/bherrmann7/notes"><span class="glyphicon glyphicon-book"  aria-hidden="true"></span>
                                   Notes - Clojure webapp - A simple wiki
                            </a></li>

                            <li><a href="/carcast/"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
                                CarCast - Android Podcast Downloader/Player
                            </a></li>

                            <li><A href="http://jbum.sf.net/"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                                jbum - Java Swing photo web page builder
                            </A>

                            <li><A href="http://jblog.sf.net/"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                jblog - Simple Java/JSP based blogging platform
                            </A>
                        </ul>
                    </li>

            </ul>
            <ul class="nav  navbar-nav pull-right">
                <li {% ifequal page
                "about.html" %} class="active" {%endifequal%}>
                <a href="{{servlet-context}}/about">About</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>


<script type="text/javascript">
      var context = "{{servlet-context}}";
</script>
{% block page-scripts %}
{% endblock %}
</body>
</html>

