{% extends "base.html" %}
{% block content %}


<h1>Places I visit</h1>
<br>
<table>
    <tr><td><a href=http://http://news.ycombinator.com/>Hacker News</a>
    <tr><td><a href=http://www.planetandroid.com/>planetandroid.com<a/>
        <tr><td><a href=http://www.groovyblogs.org/>groovyblogs.org</a>
        <tr><td><a href=http://slashdot.org>Slashdot.org</a>
        <tr><td><a href=http://www.cafeaulait.org/>Cafe au Lait</a>
        <tr><td><a href=http://www.joelonsoftware.com/>Joel on Software</a>
        <tr><td><a href=http://www.javablogs.com>java blogs</a>
        <tr><td><a href=http://lwn.net/daily/>Linux Daily News</a>
        <tr><td><a href=http://linuxtoday.com/>Linux Today</a>
        <tr><td><a href=http://www.javalobby.org/>JavaLobby</a>
        <tr><td><a href=http://www.nytimes.com>New York Times</a>
        <tr><td><a href=http://www.boston.com/globe>Boston Globe</a>
        <tr><td>---------
        <tr><td><a href=http://www.scripting.com/>scripting news</a>
        <tr><td><a href=http://www.news.com/>zdnet computer news</a>

        <tr><td><a href=http://jbum.sf.net>jbum</a>
        <tr><td><a href=http://jblog.sf.net>jblog</a>
        <tr><td><a href=http://jadn.com/>jadn.com</a>
</table>

{% endblock %}